---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file
@import url('https://fonts.googleapis.com/css2?family=Amiri&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,300;0,400;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@300;400&display=swap');
/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
}

body {
  background: #3b3937;
  font-size: 18px/1.4;
  font-family: 'Amiri', serif;
  color: $white;
  line-height: 1.5;
}

.container {
  margin: 0 25px 0 auto;
  max-width: 740px;
  padding: 0 10px;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Averia Serif Libre', cursive;
  color: $white;
  font-weight: 300;

  line-height: 1.7;
  margin: 1em 0 15px;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-family: 'Averia Serif Libre', cursive;
  font-size: 24px;
  font-weight: 400;
  a {
    color: inherit;
  }
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
  color: inherit;
}

p {
  font-family: 'Amiri', serif;
  margin: 15px 0;
  line-height: 1.5;
   text-indent: 30px;
}

a {
  font-family: 'Tajawal', sans-serif;
  color: $white;
  font-weight: 300;
  font-size: 14px;

  line-height: 1.7;
  margin: 1em 0 15px;
  padding: 0;
  text-decoration: none;
  cursor: pointer;

  @include mobile {
    line-height: 1.4;
  }
	

  &:hover, &:active {
   text-decoration: underline;	  
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul.post-list {
	margin: 15px 230px;
	padding-left: 30px;
	text-align: right;
	list-style-type: none;
	position: fixed;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
  color: $gray;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}


/*********************/
/* LAYOUT / SECTIONS */
/*********************/


.site-name {
  font-family: 'Tajawal', sans-serif;
  color: $white;
  font-weight: 400;
  cursor: pointer;
  font-size: 22px;
  letter-spacing: 1px;
}

.site-info {
  margin: 0;
  font-family: 'Tajawal', sans-serif;
  color: $white;
  font-weight: 400;
  cursor: pointer;
  font-size: 22px;
  letter-spacing: 1px;
}

.site-avatar-container {
 position: relative;	
}

.navbar {
  margin-left: 0px;
  max-width: 230px;
  position: fixed;
}

nav {
  display: flex;
  margin-top: 10px;
  margin-left: 5px;
	
  font-family: 'Tajawal', sans-serif;
  font-size: 18px;
  font-weight: 400;
  flex-direction: column;

  @include mobile {
    flex-direction: row;
  }

  a {
    font-family: inherit;
    font-size: inherit;
    color: $white;
    text-align: right;
    font-weight: inherit;
    letter-spacing: 1px;
  }
}

//
// .main
//

.leftspace {
	margin-left: 450px;
	width: 100%;
}

#main {
  display: flex;

  @include mobile {
    flex-direction: row;
  }
}

.entry {
  margin-top: 100px;
  display: grid;
  column-gap: 10px;
  grid-template-columns: 50% 50%;
}

.posts > .post {
  padding-bottom: 2em;
  border-bottom: 1px solid $lightGray;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 22px;
    font-style: italic;
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: uppercase;
    font-size: 15px;
  }
}

.english {}
.arabic {
	text-align: right;
}

.wrapper-footer {
  margin-top: 50px;
  border-top: 0px;
  border-bottom: 0px;
}

footer {
  padding: 20px 0;
  text-align: center;
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
