---
layout: default-midnight
---

<article class="post">
  {% if page.title %}
  <h1>{{ page.title }}</h1><br>
  {% if page.author %}<span class="addinfo">author: {{ page.author }}</span><br>{% endif %}
  {% if page.translation %}<span class="addinfo">translation: {{ page.translation }}<br></span>{% endif %}
  {% if page.abstract %}<span class="abstractupfront">{{ page.abstract }}</span>{% endif %}
  {% endif %}

  <div class="entry">
    <ul class="carousel">
      <li>
        <div class="english">
          {{ page.english }}
        </div>
      </li>
      <li>
        <div class="arabic">
          {{ page.arabic }}
        </div>
      </li>
    </ul>
  </div>

  {% if page.date %}
    <div class="date">
      Written on {{ page.date | date: "%B %e, %Y" }}
    </div>
  {% endif %}

  <script type="text/javascript">
    var carousel;
$(document).ready(function () {
    carousel = $(".carousel");
  carousel.itemslide({disable_scroll: true, parent_width: true});
});

  </script>

</article>
