---
layout: default-midnight
---

<article class="post">
  {% if page.title %}
  <h1>{{ page.title }}</h1><br>
  {% if page.author %}<span class="addinfo">author: {{ page.author }}</span><br>{% endif %}
  {% if page.translation %}<span class="addinfo">translation: {{ page.translation }}<br></span>{% endif %}
  {% if page.abstract %}<span class="abstractupfront">{{ page.abstract }}</span>{% endif %}
  {% endif %}

  <div class="entry">
    <div class="english">
      {{ page.english }}
    </div>
    <div class="arabic">
      {{ page.arabic }}
    </div>
  </div>

  {% if page.date %}
    <div class="date">
      Written on {{ page.date | date: "%B %e, %Y" }}
    </div>
  {% endif %}

</article>
